<!DOCTYPE html>
<html>

<head>
  <title>Northwest Events</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>


  {{#if user}}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Northwest Events</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/home"><span class="glyphicon glyphicon-home"></span> &nbsp; Home</a></li>
      </ul>
      <li class="pull-right">
        <a href="/users/logout" class="btn btn-danger navbar-btn"> Logout &nbsp; &nbsp;</a>
      </li>
    </div>
  </nav>
  {{else}}
  <nav>
    <ul class="navbar navbar-inverse">
      <div class="pull-right">
        <a href="/users/login" class="btn btn-primary navbar-btn">Login</a></li>
        <a href="/users/register" class="btn btn-primary navbar-btn">Register</a></li>
        {{/if}}
      </div>
    </ul>
  </nav>


  <div class="row">
    <div class="col-lg-12">
      {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
      {{/if}}

      {{{body}}}
    </div>
  </div>

</body>

</html>