<%include header %>
    <head>

    </head>
    <body >
        <div style="margin-left: 20px;">
        <h2>Interested user names for student success event</h2>
        <p>1.Manisha</p>
        <p>2.Aneesha</p>
        <p>3.Vinisha</p>
        <p>4.Asha</p>
        <p><b>Total number of users interested for the student success event are: 4</b></p>
        <h2>Interested user names for Techevent event</h2>
        <p>1.Suresh</p>
        <p>2.Ramesh</p>
        <p>3.Ram</p>
        <p>4.Sita</p>
        <p>5.Rita</p>
        <p><b>Total number of users interested for the student Tech event are: 5</b></p>
        </div>
        
    </body>
