<%include header.ejs%>
<head>
    <link rel="stylesheet" type="text/css" href="/css/Homepage.css" />
</head>
<body>
    <h1 align="center">List of Event Registered Users</h1>
<div>
    <%if(bookingslist[0].movie == ""){%>
    <br>
    <h3>No bookings found.</h3>
    <%}%>

    <table class="table" id="pull">
        <thead>
            <tr>
            <th>S.NO</th>
            <th>Username</th>
            <th>Event Name</th>
            <th>Event Registration ID</th>
            <!-- <th>Event Date</th>
            <th>Event Timing</th>
            <th>Registration Fee</th> --> 
        </tr>
        </thead>
        <tbody>
            <%for(let i = 0; i < bookingslist.length; i++){%>
             <tr>
                 
                 <td><%=i+1%></td>
                 <td><%= use[i].username%></td>
                 <td><%=bookingslist[i].movie%></td>
                 <td><%=bookingslist[i].date%></td>
                 <td><%=bookingslist[i].timing%></td>
                 <td><%=bookingslist[i].total%></td>
                 <td><%=bookingslist[i]._id%></td>
                 
                 <form method="POST" action="/modifybookings">
                    <input type="text" value="<%=bookingslist[i]._id%>" name="idmodify" hidden>
                 <td><Input type="submit" class="btn btn-primary" value="Edit"></td>
                 </form>
                 <form method="POST" onsubmit="return confirm('Are you sure want to delete the user?')" action="/BookingController/delete">
                     <input type="text" value="<%=bookingslist[i]._id%>" name="id" hidden>
                 <td><input type="submit" class="btn btn-danger" value="Delete"></td>
                </form>
             </tr>   
             <%}%>
        </tbody>
    </table>

</div>
</body>