<%include header %>

<head>
	<link href="../Assets/css/adminadd.css" type="text/css" rel="stylesheet" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
		<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 ">
						<h2 style="margin-left: 190px;">Adding a new event:</h2>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p style="margin-left: 190px;">Please fill all the below details:</p>
					</div>
					<div class="col-md-2"></div>
				</div>
				<form method="POST" action="/AddmovieController/present" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="name">Event Name:</label>
								<input type="text" class="form-control" id="eventname" name="eventname" pattern="[a-zA-Z]+" required>
							</div>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="level">Start Time:</label>
								<input type="time" class="form-control" id="starttime" name="starttime" pattern="[a-zA-Z ]+" required>
							</div>
						</div>
			
						<div class="row">
						</div>
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="level">End Time:</label>
								<input type="time" class="form-control" id="endtime" name="endtime" pattern="[a-zA-Z ]+" required>
							</div>
						</div>
			
						<div class="row">
							</div>
						<div class="col-md-4"></div>
						<div class="col-md-4">
								<div class="form-group">
									<label for="level">Event Date:</label>
									<input type="date" class="form-control" id="eventdate" name="eventdate" pattern="[a-zA-Z ]+" required>
								</div>
							</div>
			
					</div>
			
			
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="level">Venue:</label>
								<input type="text" class="form-control" id="venue" name="venue" pattern="[a-zA-Z ]+" required>
							</div>
						</div>
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4 ">
			
							<label for="subject">Event Description:</label>
							<div class="form-group">
								<textarea id="eventdesc" class="form-control" name="eventdesc"></textarea>
							</div>
							<div class="col-md-4"></div>
						</div>
			</div>
			<div class="row " style="margin-left: 40px;">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="attach">Upload Event Image:</label>
				
							<input type="file" name="attach">
				
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			<div class="row" style="margin-left: 270px;">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<button type="submit" name="submit" class="btn btn-primary">Submit</button></div>
					<div class="col-md-4"></div>
				</div>
			
			
			<div class="row">
				<div class="col-md-4"></div>
			
			</div>
			
			
			
			</div>
			<div class="col-md-4"></div>
			</div>
			
			<div class="col-md-4"></div>
			
			
			
			</form>
			</div>
</body>
