<%include header %>

	<head>
        <link href="../Assets/css/adminadd.css" type="text/css" rel="stylesheet" />
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<body >
	<div style="margin-left: 30px;" 	>
			<h2>User Comments for the events:</h2>
			<%if(ratingslist.length > 0){%>
			<%for(let i = 0; i < ratingslist.length; i++){%>
				<label>Username : </label><%=ratingslist[i].username%>
				<br>
				<label>Event : </label><%=ratingslist[i].movie%>
				<br>
				<label>Comments : </label><br>
				<textarea><%=ratingslist[i].comments%></textarea>
				<br>
				<br>
				<hr>
			<%}%>
			<%}%>
	</div>

</body>