<%include header%>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
            Agnathavasi Movie
        </title>
        <style>
            img {
                height: 220;
                width: 220;

            }

            .checked {
                color: orange;
            }
        </style>

    </head>

    <body>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="/events/marathonevent.jpg" alt="Los Angeles" style="width:100%; height: 350px;">
                    </div>
                </div>
            </div>
        

        <p>The marathon is a long-distance race, completed by running, walking, or a run/walk strategy.</p>

            <b>
            </b>
           
            <b> </b>
            <label >Date of Event: </label> Decemeber 15, 2018<br>
            <label >Start Time: </label> 06:00 am<br>
            <label >End Time:</label> 09:00 am<br>
            <label >Venue:</label> Fieldhouse<br>
            <label >Registration Fee:</label> $5

        <form action="/MovieController/selectMovie" method="POST">
            <input type="text" value="<%=user.username%>" name="userID" hidden>
            <input type="text" value="Agnathavasi" name="movie" hidden>
            <input type="submit" class="btn btn-primary" value="Register"/>
            <br>
            <br>
        </form>
    </div>

    </body>

    </html>