<%include header.ejs%>
<html>

<head>
    <link rel="stylesheet" href="/css/booking.css">

</head>

<body>
    <div class="container-fluid">

        <h1 style="margin-left: 100px;">Register Here:</h1>
        <br>
        <div class="abc container">

            <form method="POST" action="/BookingController/booking1">
                
                <input type="text" name="movie" value="<%= movietime[0].movie %>" hidden />
               
                <label for="text">FirstName</label>
                <input type="text" class="form-control i" name="firstname" id="firstname" />
                <br>
                <br>
                <label for="email">Email</label>
                <input type="email" class="form-control i" name="email" id="email" /><br><br>
                
                <input type="submit" class="btn btn-primary" onclick="return alert('Joined Successfully')" value="Continue">
            </form>
        </div>
    </div>
</body>

</html>