<% include header%>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div style="text-align: center">
            <h3><b>user1</b></h3>
            <p>student success</p>
            <p>It is a great program for students who are struggling to get the success</p>
        </div>
        <div style="text-align: center">
                <h3><b>user2</b></h3>
                <p>Techevent</p>
                <p>Program is nice but it will be useful for technical people</p>
            </div>
        </body>
        </html>