<% include header %>

<head>
    <link href="../css/contact.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="card">
            <h1 class="r">Contact Form:</h1>
            <br>
            <form action="/contact" method="POST">
                <div class="row">
                    <label for="fname">First Name:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fname" name="firstname" placeholder="Your first name"
                            pattern="[a-zA-Z ]+" required>
                    </div>
                </div>

                <div class="row">
                    <label for="lname">Last Name:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="lname" name="lastname" placeholder="Your last name"
                            pattern="[a-zA-Z ]+" required>
                    </div>
                </div>
                <div class="row">
                    <label for="Email address">Email Address:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Enter email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$+"
                            required>
                    </div>
                </div>
                <div class="row">
                    <label for="subject">Message:</label>
                    <div class="form-group">
                        <textarea id="subject" class="form-control" name="subject" placeholder="Comments..."></textarea>
                    </div>
                </div>
                <br>
                <div class="row">

                    <button type="submit" value="Submit" onclick="return alert('You have successfully submited your Question')"
                        class="btn btn-primary">Submit</button>
                </div>
                <input type="text" name="reply" hidden>
            </form>
        </div>
    </div>
</body>