<!DOCTYPE html>
<html>

<head>
    <title>Northwest Events</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../assets/js/Test.js"></script>
    <link type="text/css" rel="stylesheet" href="../assets/css/Test.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="body">

    <nav class="navbar navbar-inverse">
        <div id="main" class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Northwest Events</a>
            </div>
            <ul class="nav navbar-nav">
                <div class="pull-right">
                    <a href="/users/login" class="btn btn-danger navbar-btn">Login</a></li>
                    <a href="/users/register" class="btn btn-primary navbar-btn">Register</a></li>
                </div>
        </div>
    </nav>