<!DOCTYPE html>
<html>
<head>
    <title>Northwest Events</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 

</head>

<body class="body">

    <nav class="navbar navbar-inverse">
        <div id="main" class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Northwest Events</a>
            </div>
            <ul class="nav navbar-nav">
                  <% if(user && !user.isAdmin) { %>} 
                <li><a href="/home"><b>Home</b></a></li>
                <li><a href="/movies"><b>Event Gallery</b></a></li>
                <li><a href="/mybookings"><b>Event Participation List</b></a></li>
                <li><a href="/contact"><b>Contact Us</b></a></li>
                <li><a href="/rating"><b>User Comments</b></a></li> 
                <li><a href="/commentbo"><b>CommentsByOthers</b></a></li>  
                <% } %>
                <% if(user.isAdmin) { %>} 
                <li><a href="/adminadd"><b>Add Event</b></a></li>
                <li><a href="/admindelbooking"><b>User Bookings</b></a></li>
                <li><a href="/admindelete"><b>Events</b></a></li>
                <li><a href="/adminrating"><b>User Comments</b></a></li>
                <li><a href="/Admincontact"><b>Contact Questions</b></a></li>
                <li><a href="/adminviewattendees"><b>Users Count</b></a></li>
                <% } %>
            </ul>
            <li class="pull-right">
                <a href="/users/logout" class="btn btn-danger navbar-btn"> Logout</a>
            </li>

        </div>
    </nav>
</body>
<style>
    body{
        /* background-color: rgba(44, 155, 0, 0.842); */
    }
</style>
</html>