<%include header.ejs%>
<!DOCTYPE html>
<html>

<head>
    <title>Northwest Events</title>
    <style>
        img {
            width: 220px;
            height: 220px;
        }

        th {
            font-size: 2em;
            background-color: white;
            /* padding: 20px; */
        }

        body {
            font-family: sans-serif;
            font-size: 1em;
            text-align: center;
            background-color: rgba(44, 155, 0, 0.842);
        }


        table {
            background-color: white;
            width: 60%;
        }

        td {
            padding: 25px;
        }

        #not {
            font-size: 20px
        }

        .textimage {
            position: relative;
            width: 300px;
            height: 300px;
            float: left;
            background-size: 100%;
            background-position: center;
            margin: 4px;
            background-size: 100%;
            transition: 0.5s;
            text-align: left;
        }

        .textimage:hover {
            background-size: 110%;
        }

        .textimage:after {
            position: absolute;
            top: 90%;
            bottom: 0;
            left: 0;
            right: 0;
            white-space: pre-wrap;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0, 3);
            color: #fff;
            padding: 0 8px;
            content: attr(data-text);
            transition: 0.5s;
        }

        .textimage:hover:after {

            top: 0;
            padding: 8px;
            background-color: rgba(0, 0, 0, 0, 6);
        }

        .textimage:first-line {
            color: #fff;
            font-weight: bold;
            font-size: 1.5em;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div>
            <p id="not"><b>
                    <marquee>We are conducting student success event today. Event starts from 6:00pm and ends at 8:00pm</marquee>
                </b></p>
        </div>
        <table style="text-align: center;">
            <th>List of events</th>
            <br>
            <tr>
                <br>
                <td>
                    <div class="textimage" style="background-image: url(/events/publicspeakingevent.png)"></div>
                    <a href="/getupdatedvaluesuser" class="btn btn-primary">Select
                </td>
                <td>
                    <div class="textimage" style="background-image: url(/events/marathonevent.jpg)"></div>
                    <a href="/agnathavasi" class="btn btn-primary">Select
                </td>
                <td>
                    <div class="textimage" style="background-image: url(/events/concertevent.jpg)"></div>
                    <a href="/instantfamily" class="btn btn-primary">Select
                </td>
                <td>
                    <div class="textimage" style="background-image: url(/events/cricketevent.jpg)"></div>
                    <a href="/instantfamily" class="btn btn-primary">Select
                </td>
            </tr>
            <!-- <tr><br><br>
                <hr>
            </tr> -->
            <!-- <tr>
                <td>
                    <div class="textimage" style="background-image: url(/css/Aravinda.jpg)"></div>
                    <a href="/Aravindasametha" class="btn btn-primary">Select

                </td>
                <% if(user.isManager){ %>
                <td>
                    <div class="textimage" style="background-image: url(/css/a.jpg)" data-text="Aravinda Sametha Veera Raghava, 
                        It is a romantic action entertainer written and directed by Trivikram Srinivas and produced by S. Radha Krishna while S. Thaman scored music for this movie. Jr. Ntr and Pooja Hedge are played the main lead roles"></div>
                    <a href="/Aquaman" class="btn btn-primary">Select

                </td>
                <%}%>
            </tr> -->

        </table>
    </div>
</body>

</html>