<%include header%>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
            Instantfamily Movie
        </title>
        <style>
            img {
                height: 220;
                width: 220;

            }

            .checked {
                color: orange;
            }
        </style>

    </head>

    <body>
        <div class="container">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="/events/concertevent.jpg" alt="Los Angeles" style="width:100%; height: 350px;">
                    </div>
                </div>
            </div>
        <p> A concert is a live music performance in front of an audience. Informal names for a concert include show and gig. Regardless of the venue, musicians usually perform on a stage. Concerts often require live event support with professional audio equipment.</p>
        <b> </b>
        <label >Date of Event: </label> Decemeber 11, 2018<br>
            <label >Start Time: </label> 07:45 pm<br>
            <label >End Time:</label> 10:00 pm<br>
            <label >Venue:</label> Ron Houston Center<br>
            <label >Registration Fee:</label> $25
            
        <form action="/MovieController/selectMovie" method="POST">
            <input type="text" value="<%=user.username%>" name="userID" hidden>
            <input type="text" value="Instantfamily" name="movie" hidden>
            <input type="submit" class="btn btn-primary" value="Register"/>
            <br>
            <br>
        </form>
    </div>

    </body>

    </html>