<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" type="text/css" href="/css/login.css" />

</head>

<body>
  <img src="../css/northwesteventslogo.png" width="200" height="100" align="middle">
<div class="card">
  <form method="post" action="/users/login">
  <h1 align="center">Login</h1>

    <div class="">

      <label for="username"><b>Username:</b></label>
      <input type="text" placeholder=" Enter Username" name="username" required>

      <label for="password"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>

    </div>
  </form>
  <div class="" style="padding-bottom: 30px;">
    <div class="reset">
      <a href="resetpassword" class="btn btn-secondary">Forgot Password?</a>
      <a href="forgotusername" class="btn btn-secondary">Forgot Username?</a>
  </div>
</div>



</body>
<style>
  .card{
    width: 50%;
    margin: auto;
    background-color: rgb(254, 255, 198);
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 2em;
  }
</style>
</html>