<%include header.ejs%>
    <!DOCTYPE html>
    <html>

    <head>
        <title>Northwest Events</title>
        <style>
            img {
                width: 220px;
                height: 220px;
            }

            th {
                font-size: 2em;
                background-color: white;
                /* padding: 20px; */
            }

            body {
                font-family: sans-serif;
                font-size: 1em;
                text-align: center;
            }

            table {
                background-color: white;
                width: 60%;
            }

            td {
                padding: 25px;
            }
           #not{
               font-size:20px
           }
            .textimage {
                position: relative;
                width: 300px;
                height: 300px;
                float: left;
                background-size: 100%;
                background-position: center;
                margin: 4px;
                background-size: 100%;
                transition: 0.5s;
                text-align: left;
            }

            .textimage:hover {
                background-size: 110%;
            }

            .textimage:after {
                position: absolute;
                top: 90%;
                bottom: 0;
                left: 0;
                right: 0;
                white-space: pre-wrap;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0, 3);
                color: #fff;
                padding: 0 8px;
                content: attr(data-text);
                transition: 0.5s;
            }

            .textimage:hover:after {

                top: 0;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0, 6);
            }

            .textimage:first-line {
                color: #fff;
                font-weight: bold;
                font-size: 1.5em;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <img style="height: 100px;" src="/css/northwesteventslogo.png" alt="Cinque Terre">

    <body>

        <div><h4>This is the place where you can view the images of all the events being organised by Northwest.</h4></div>
            
            <div class="container">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                        </ol>
        
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
        
                            <div class="item active">
                                <img src="/events/badmintonevent.jpg" alt="Los Angeles" style="width:100%; height: 350px;">
                            </div>
        
                            <div class="item">
                                <img src="/events/concertevent.jpg" alt="Chicago" style="width:100%; height: 350px;">
                            </div>
        
                            <div class="item">
                                <img src="/events/cricketevent.jpg" alt="New York" style="width:100%; height: 350px;">
                            </div>

                            <div class="item">
                                <img src="/events/cricketevent.jpg" alt="New York" style="width:100%; height: 350px;">
                            </div>

                             <div class="item">
                                <img src="/events/marathonevent.jpg" alt="New York" style="width:100%; height: 350px;">
                            </div>

                            <div class="item">
                                <img src="/events/publicspeakingevent.jpg" alt="New York" style="width:100%; height: 350px;">
                            </div>
        
                        </div>
        
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
       <!-- <div class="container">
            <div><p id="not"><b><marquee>We are conducting student success event today. Event start from 6:00pm and ends at 8:00pm</marquee></b></p></div>
            
            
        <table align="center">

            
                <th>List of events</th>
            
            <tr>
                <td colspan="12"><b> Click on the images for event description </b></td>
            </tr>
            <br>

            <tr>
                <br>
                <td>
                    <div class="textimage" style="background-image: url(/css/robo.jpg)" 
                    </div>
                    <a href="/robo" class="btn btn-primary">Interested
                </td>
                <td>
                    <div class="textimage" style="background-image: url(/css/agnathavasi.jpg)" data-text="Agnathavasi,It is a romantic action entertainer written and directed by Trivikram Srinivas and produced by S Radha Krishna under Haarika and Haasine creations banner while Anirudh Ravichander scored music for this movie

                    Pawan Kalyan, Keerthy Suresh and Anu Emmanuel are playing the main lead roles."></div>
                    <a href="/agnathavasi" class="btn btn-primary">Buy Now
                </td>
                <td>
                    <div class="textimage" style="background-image: url(/css/instantfamily.jpg)" data-text="Instant Family, It is a family entertainer where a couple wants to adopt 1 foster kid but they finally adopts 3 kids who are siblings. Mark Wahlberg, Rose Byrne, Isabela Moner are playing leading roles."></div>
                    <a href="/instantfamily" class="btn btn-primary">Buy Now
                </td>
            </tr>
            <tr><br><br><hr></tr>
            <tr>
                <td>
                    <div class="textimage" style="background-image: url(/css/Aravinda.jpg)" data-text="Aravinda Sametha Veera Raghava, 
                    It is a romantic action entertainer written and directed by Trivikram Srinivas and produced by S. Radha Krishna while S. Thaman scored music for this movie. Jr. Ntr and Pooja Hedge are played the main lead roles"></div>
                    <a href="/Aravindasametha" class="btn btn-primary">Buy Now

                </td>
        <% if(user.isManager){ %>
                <td>
                        <div class="textimage" style="background-image: url(/css/a.jpg)" data-text="Aravinda Sametha Veera Raghava, 
                        It is a romantic action entertainer written and directed by Trivikram Srinivas and produced by S. Radha Krishna while S. Thaman scored music for this movie. Jr. Ntr and Pooja Hedge are played the main lead roles"></div>
                        <a href="/Aquaman" class="btn btn-primary">Buy Now
    
                    </td>
        <%}%>
            </tr>

        </table> -->

    </body>

    </html>