<%include header.ejs%>
<head>
    <link rel="stylesheet" type="text/css" href="/css/Homepage.css" />
</head>
<style>
th{
    text-align: center;
}

</style>
<body>
    <h1 align="center">User Registration Details</h1>

    <%if(bookingslist[0].movie == ""){%>
    <br>
    <h3>No bookings found.</h3>
    <%}%>

    <table class="table" id="pull" style="
    display: table;
    table-layout: fixed;
    text-align: center;
    ">
        <thead>
            <tr>
            <th>S.NO</th>
            <th>Movie Name</th>
            
            <th>Reference ID</th>
            <!-- <th></th>
            <th></th> -->
        </tr>
        </thead>
        <tbody>
            <%for(let i = 0; i < bookingslist.length; i++){%>
             <tr>
                 
                 <td><%=i+1%></td>
                 <td><%=bookingslist[i].movie%></td>
                
                 <td><%=bookingslist[i]._id%></td>
                 <!-- <form method="POST" action="/modifybookings">
                    <input type="text" value="<%=bookingslist[i]._id%>" name="idmodify" hidden>
                 <td><Input type="submit" class="btn btn-warning" value="Modify"></td>
                 </form> -->
                 <!-- <form method="POST" onsubmit="return confirm('Are you sure want to cancel booking?')" action="/BookingController/delete">
                     <input type="text" value="<%=bookingslist[i]._id%>" name="id" hidden>
                     <input type="text" value="<%=bookingslist[i].email%>" name="email" hidden >
                 <td><button type="submit" class="btn btn-danger" value="Cancel">Cancel</button></td>
                </form> -->
             </tr>   
             <%}%>
        </tbody>
    </table>

    
</body>