<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/login.css" />

</head>>

<body>
  <div class="row">
    <div class="col-lg-12">
      {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
      {{/if}} {{#if success}}
      <div class="alert alert-success">{{success}}</div>
      {{/if}} {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}} {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
      {{/if}} {{{body}}}
    </div>
  </div>


  <div class="container">
    <h1>Reset Password</h1>

    <form method="POST" action="/users/reset/{{token}}">
      <label for="password"><b>New Password</b></label>
      <input type="password" placeholder="Enter New Pasword" name="password" required>
      <label for="confirm"><b>New Password</b></label>
      <input type="password" placeholder="Confirm New Pasword" name="confirm" required>
      <button type="submit" class="registerbtn">Update Password</button>
    </form>

  </div>

</body>

</html>