<%include header%>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
            Robo Movie
        </title>
        <style>
            img {
                height: 220;
                width: 220;

            }

            .checked {
                color: orange;
            }
        </style>

    </head>

    <body>
        <div class="container">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="/events/publicspeakingevent.png" alt="Los Angeles" style="width:100%; height: 350px;">
                    </div>
                </div>
            </div>
        

        <p>It is a event regarding how to get success in student life</p>
            <b> </b>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <label >Date of Event: </label> <input class="form-control" type="text" value="Decemeber 25, 2018" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <label >Start Time: </label> <input class="form-control" type="text" value="6:00 pm" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <label >End Time:</label> <input class="form-control" type="text" value="7:00 pm" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <label >Venue:</label> <input class="form-control" type="text" value="Colden Hall" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <label >Registration Fee:</label> <input class="form-control" type="text" value="$10" />
                </div>
            </div>
            
            
        <div class="row">
            <div class="col-sm-offset-6 col-sm-4" style="margin-top: 10px; margin-left: 550px;">
                <form action="/getupdatedvalues">
                    <input type="submit" class="btn btn-primary" value="Update" />
                </form>
            </div>
        </div>
    </div>

    </body>

    </html>