
<%include header%>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
            Robo Movie
        </title>
        <style>
            img {
                height: 220;
                width: 220;

            }

            .checked {
                color: orange;
            }
        </style>

    </head>

    <body>
        <div class="container">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">


                <div class="carousel-inner">

                        <div class="item active">
                            <img src="/events/publicspeakingevent.png" alt="Los Angeles" style="width:100%; height: 350px;">
                        </div>
                    </div>
                </div>
            
    
            <p>It is a event regarding how to get success in student life</p>
                <b> </b>
                <label >Date of Event: </label> Decemeber 25, 2018<br>
                <label >Start Time: </label> 6:00 pm<br>
                <label >End Time:</label> 7:00 pm<br>
                <label >Venue:</label> Field House<br>
                <label >Registration Fee:</label> $10
            
            <form action="/booking">
                <input type="submit" class="btn btn-primary" value="Register" />
            </form>
        </div>
    
        </body>
    
        </html>
