<!DOCTYPE html>
<html>

<head>

  <head>

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />

  </head>

  <body>
    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} {{#if success}}
        <div class="alert alert-success">{{success}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}} {{{body}}}
      </div>
    </div>

<img src="/css/northwesteventslogo.png" class="img-responsive" alt="Cinque Terre" width="200" height="200">

    <div class="container">
      <h1>Forgot Username?</h1>
      <form method="POST" action="/users/forgotusername">
        <label for="username"><b>Enter your registered email address:</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <button type="submit" class="registerbtn">Submit</button>
      </form>
      <div class="container signin">
        <a href="/users/login">Back to Login Page</a>
      </div>

    </div>

  </body>

</html>