<% include header%>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <link rel="stylesheet" type="text/css" href="../css/ratting.css" />
        <div class="container">
            <h1>User Comments</h1>
            <br>
            <form method="POST" action="/RatingController/rating">
                <div class="form-group ">
                    <label for="sel1">Select Event:</label>
                    <select class="form-control " id="sel1" name="movie">
                        <option>studentsuccess</option>
                        <option>Techevent</option>
                        <option>IITschool</option>
                        <option>Failsteps</option>
                        <%if(user.isManager){%>
                        <option>Gradprog</option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" name="comments"></textarea>
                </div>
                <input type="text" name="username" value="<%=user.username%>" hidden>
                <br>
                <button type="submit" class="btn btn-primary" onclick="return alert('Comment submitted Successfully')" style="float:center">submit</button>
        </div>
        </form>
    </body>
   

    </html>