body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    }
    .right{
        float:right;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;   
        color: Black;
       }
     
       .col{
           float: right;
       }
       .ven{
           margin-left: 230px;
       }
.container{
    background-color: rgb(2, 7, 7);
}