body {
    font-family: Georgia, serif;
   
}
.r{
    font-size:30px;
    text-align: left; 
    margin-left: -50px;
}
.container{
    text-align: left;
    margin-top: 50px;
    font-size: 20px;
}
.form-group{
    margin-right:800px;
}

.form-control{


    border-color: black;
    
}


